.comment {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 1rem auto;
  width: 100%;
  flex-wrap: wrap;
  border-radius: 5px;
  background: var(--main-color);
}

.content {
  width: 90%;
  margin: 1rem auto;
  padding: 0.8rem 1rem;
  font-size: 1rem;
  background: var(--white);
  border-radius: 45px;
  text-align: center;
  word-break: break-all;
}

.author {
  display: flex;
  justify-content: right;
  width: 100%;
  font-size: 1rem;
  padding-right: 1rem;
}
.comment form {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
  align-items: center;
  margin: 0.5rem auto;
}
.comment form textarea {
  width: 75%;
  flex-wrap: wrap;
  margin: 0.5rem 0 0.5rem 1rem;
  padding: 0.5rem;
  border: none;
  border-radius: 0.5rem;
  resize: none;
  text-align: center;
}

.comment textarea::placeholder {
  align-items: center;
  text-align: center;
  color: var(--black);
  font-size: 1.5rem;
}

.comment svg {
  width: 10%;
  font-size: 2rem;
  color: var(--white);
}

.comment button {
  display: flex;
  width: 25%;
  margin: 0.5rem 0;
  padding: 0.5rem;
  border: none;
  border-radius: 0.5rem;
  background: var(--secondary-color);
  color: var(--black);
  font-size: 1rem;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  margin: 0 auto;
}

.comment form svg {
  width: 10%;
  font-size: 2rem;
  color: var(--white);
}
