.new-thread {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  width: 100%;
  background: var(--main-color);
}

.new-thread form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 920px;
}

.new-thread form textarea {
  width: 75%;
  margin: 0.5rem 0;
  padding: 0.5rem;
  border: none;
  border-radius: 0.5rem;
  resize: none;
  text-align: center;
}

.new-thread form textarea::placeholder {
  font-size: 1.5rem;
  align-items: center;
  text-align: center;
  color: var(--black);
}

.new-thread form button {
  width: 20%;
  margin: 0.5rem 0;
  padding: 0.5rem;
  border: none;
  border-radius: 0.5rem;
  background: var(--secondary-color);
  color: var(--white);
  font-size: 1.2rem;
  transition: all 0.4s ease-in-out;
}
.new-thread form button:hover {
  cursor: pointer;
}

.new-thread form button:active {
  cursor: pointer;
  box-shadow: 0px 0 10px 10px inset var(--grey);
  color: var(--black);
}
