.thread {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 1rem auto;
  width: 80%;
  flex-wrap: wrap;
  border: 1px solid var(--main-color);
  border-radius: 5px;
  max-width: 800px;
}

.thread:nth-child(odd) {
  background: var(--main-color);
  color: var(--white);
}
.content {
  width: 100%;
  padding: 1rem 1rem 0 1rem;
}

.author {
  display: flex;
  justify-content: right;
  width: 100%;
  font-size: 1rem;
  padding-right: 1rem;
}

.btn-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  justify-content: space-around;
  margin: 1rem auto;
}

.btn-container a {
  display: flex;
  text-decoration: none;
  justify-content: center;
  text-align: center;
  align-items: center;
}

.btn {
  width: 30%;
  margin: 0.5rem 0;
  padding: 0.5rem;
  border: none;
  border-radius: 0.5rem;
  background: var(--secondary-color);
  color: var(--black);
}

.thread form {
  background: var(--main-color);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.thread form textarea {
  width: 75%;
  margin: 0.5rem 0;
  padding: 0.5rem;
  border: none;
  border-radius: 0.5rem;
  resize: none;
  text-align: center;
}

.thread form textarea::placeholder {
  align-items: center;
  text-align: center;
  color: var(--black);
  font-size: 1.5rem;
}

.thread form button {
  width: 25%;
  margin: 0.5rem 0;
  padding: 0.5rem;
  border: none;
  border-radius: 0.5rem;
  background: var(--secondary-color);
  color: var(--black);
  font-size: 1.2rem;
}