.thread {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 1rem auto;
  width: 90%;
  flex-wrap: wrap;
  border: 1px solid var(--main-color);
  border-radius: 5px;
  max-width: 1200px;
  background: var(--white);
}

.content {
  width: 90%;
  margin: 1rem auto;
  padding: 0.8rem 1rem;
  font-size: 1rem;
  background: var(--white);
  border-radius: 45px;
  border: 1px solid var(--main-color);
  text-align: center;
  word-break: break-all;
}

.author {
  display: flex;
  justify-content: right;
  width: 100%;
  font-size: 1rem;
  padding-right: 1rem;
}

.link {
  display: flex;
  width: 100%;
  justify-content: space-around;
  padding: 1rem auto;
  color: var(--white);
  font-size: 1.5rem;
  background: var(--main-color);
  align-items: center;
}

.link div {
  display: flex;
  justify-content: center;
  align-items: center;
}

.link a {
  text-decoration: none;
  color: var(--white);
  align-items: center;
}

.none {
  display: none;
}

.commentContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 1rem auto;
  width: 90%;
  flex-wrap: wrap;
  border-radius: 5px;
  max-width: 1200px;
  background: var(--white);
}

